<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.tableMaid.repository.MenuMapper">
    <resultMap id="MenuResultMap" type="com.project.tableMaid.entity.menu.Menu">
        <id property="menuId" column="menu_id" />
        <result property="adminId" column="admin_id" />
        <result property="menuCategoryId" column="menu_category_id" />
        <result property="menuCode" column="menu_code" />
        <result property="menuName" column="menu_name" />
        <result property="menuPrice" column="menu_price" />
        <result property="recommendMenu" column="recommend_menu" />
        <result property="menuState" column="menu_state" />
        <result property="menuImgUrl" column="menu_img_url" />
        <result property="createDate" column="create_date" />
        <result property="updateDate" column="update_date" />
    </resultMap>

    <resultMap id="MenuCategoryResultMap" type="com.project.tableMaid.entity.menu.MenuCategory">
        <id property="menuCategoryId" column="menu_category_id" />
        <result property="adminId" column="admin_id" />
        <result property="menuCategoryName" column="menu_category_name" />
        <result property="createDate" column="create_date" />
        <result property="updateDate" column="update_date" />
    </resultMap>

    <resultMap id="OptionTitleResultMap" type="com.project.tableMaid.entity.menu.OptionTitle">
        <id property="optionTitleId" column="option_title_id" />
        <result property="adminId" column="admin_id" />
        <result property="menuId" column="menu_id" />
        <result property="titleName" column="title_name" />
        <result property="createDate" column="create_date" />
        <result property="updateDate" column="update_date" />
    </resultMap>

    <resultMap id="OptionNameResultMap" type="com.project.tableMaid.entity.menu.OptionName">
        <id property="optionNameId" column="option_name_id" />
        <result property="adminId" column="admin_id" />
        <result property="menuId" column="menu_id" />
        <result property="optionName" column="option_name" />
        <result property="createDate" column="create_date" />
        <result property="updateDate" column="update_date" />
        <association property="optionTitle" resultMap="OptionTitleResultMap" />
    </resultMap>

    <select id="getMenuCategoryByAdminId" resultMap="MenuCategoryResultMap">
        select
            *
        from
            menu_category_tb
        where
            admin_id = #{adminId}
    </select>

    <select id="getMenuByAdminIdAndCategoryId" resultMap="MenuResultMap">
        select
            menu_id,
            admin_id,
            menu_category_id,
            menu_code,
            menu_name,
            menu_price,
            recommend_menu,
            menu_state,
            menu_img_url
        from
            menu_tb
        where
            admin_id = #{adminId}
            and menu_category_id = #{menuCategoryId}
    </select>

    <select id="getOptionsByMenuId" resultMap="OptionNameResultMap">
        select
            ont.admin_id,
            ont.menu_id,
            ott.option_title_id,
            ott.title_name,
            ont.option_name_id,
            ont.option_name,
            ont.option_price
        from
            option_name_tb ont
            left outer join option_title_tb ott on(ott.option_title_id = ont.option_title_id)
        where
            ont.admin_id = #{adminId}
            and ont.menu_id = #{menuId}
    </select>

    <insert id="saveMenu" parameterType="com.project.tableMaid.entity.menu.Menu" >
        insert into
            menu_tb
        values
            (0, #{adminId}, #{menuCategoryId}, #{menuCode}, #{menuName}, #{menuPrice}, #{recommendMenu}, #{menuState}, #{menuImgUrl}, now(), now())
    </insert>

    <insert id="saveMenuCategory" parameterType="com.project.tableMaid.entity.menu.MenuCategory" >
        insert into
            menu_category_tb
        values
            (0, #{adminId}, #{menuCategoryName}, now(), now())
    </insert>

    <insert id="saveOptionTitle" parameterType="com.project.tableMaid.entity.menu.OptionTitle">
        insert into
            option_title_tb
        values
            (0, #{adminId}, #{menuId}, #{titleName}, now(), now())
    </insert>

    <insert id="saveOptionName" parameterType="com.project.tableMaid.entity.menu.OptionName">
        insert into
            option_name_tb
        values
            (0, #{adminId}, #{menuId}, #{titleId}, #{optionName}, now(), now())
    </insert>
    
    <update id="updateMenuCategory">
        update
            menu_category_tb
        set
            menu_category_name = #{menuCategoryName},
            update_date = now()
        where
            menu_category_id = #{menuCategoryId}
            and admin_id = #{adminId}
    </update>

    <delete id="deleteMenuCategory">
        delete from
            menu_category_tb
        where
            admin_id = #{adminId}
            and menu_category_id = #{menuCategoryId}
    </delete>


    <update id="updateMenu">
        update
            menu_tb
        set
            menu_name = #{menuName},
            menu_price = #{menuPrice},
            recommend_menu = #{recommendMenu},
            menu_state = #{menuState},
            menu_img_url = #{menuImgUrl},
            menu_category_id = #{menuCategoryId},
            update_date = now()
        where
            menu_id = #{menuId}
            and admin_id = #{adminId}
    </update>

    <delete id="deleteMenu">
        delete from
            menu_tb
        where
            admin_id = #{adminId}
            and menu_id = #{menuId}
    </delete>

    <update id="updateOptionTitle">
        update
            option_title_tb
        set
            menu_id = #{menuId},
            title_name = #{titleName}
            update_date = now()
        where
            option_title_id = #{optionTitleId}
            and admin_id = #{adminId}
    </update>

    <update id="updateOptionName">
        update
            option_name_tb
        set
            menu_id = #{menuId},
            option_name = #{optionName}
            title_id = #{titleId}
            update_date = now()
        where
            option_name_id = #{optionNameId}
            and admin_id = #{adminId}
            and title_id = #{titleId}
    </update>

    <delete id="deleteOptionTitle">
        delete from
            option_title_tb
        where
            option_title_id = #{optionTitleId}
            and admin_id = #{adminId}
    </delete>

    <delete id="deleteOptionName">
        delete from
            option_name_tb
        where
            option_name_id = #{optionNameId}
            and admin_id = #{adminId}
    </delete>

</mapper>